

.container-fluid {
padding-left: 4em;
}



.body{
  background: transparent;
}


p {
    font-size: 0.5em;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: white;
}


.container {
    margin-right: 100px !important;
}

.otherRow
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 35%;
    margin-left: none !important;
    align-items: flex-end;

}


 header {
display: flex;
justify-content: center;
align-items: center;
height: 80px;
padding-left: 10px;

 }


h1 {
text-align: left;
}

h2 {
    font-size: 0.8em;
}

.completed  {
    text-decoration: line-through !important;
    /* color: var(--bgcolor) */
}


#toDo, #weather, #newsAPI, #secondAPI, #thirdAPI {
    color: white;
    font-size: 3em;
    border-style: none;
}

#newsAPI {
  padding-top: 4em;
}

.card .body, .card-body {
    background-color: var(--bgcolor)

}


.card {
background: transparent;
    border-style: none !important;
  }
  


#wordOfDay {
    font-size: 0.9em;
    color:#4c7273;
}

.card-body {
    max-height: 200px;
    overflow-y: auto; 
    max-width: 900px;
  }






/* css for weather div inc. sub divs */

#weatherdata {
display: flex;
border: solid rgb(12, 154, 197) 2px;
border-radius: 50%;
height: 350px;
width: 350px;
background-color: var(--bgcolor);
align-items: center;
justify-content: center;
}

#weatherdatainner {
 display: flex;
 height: 60%;
 width: 60%;
 background-color: transparent;
 /* background-color: rgb(12, 154, 197); */
 flex-direction: column;
 border-bottom: solid black 1px;
} 

#dateDiv, #WeatherDescriptionDiv, #TempDiv {
display: flex;
width: 100%;
height: 25%;
justify-content: center;
align-items: center;
font-weight: 600;
border-bottom: solid black 1px;
text-align: center;
}

#minTemp, #maxTemp {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    text-align: center;
    font-weight: 600;
}

#minTemp {
border-right: 1px solid black;
}





#WeatherIconDiv {
display: flex;
justify-content: center;
align-items: center;
/* height: 25%; */
}

#WeatherIcon {
height: 45px;
width: 75px;
}

#dateDiv {
 font-weight: 900;

}

  .input-group {
    max-width: 1000px;
  }

  .input-group-append {
    padding-left: 20px;
  }

  .form-control {
    border-radius: 20px !important;
    max-width: 80%;
    
  }
  
  #taskList, .list-group{
    border-radius: 20px !important;
    max-width: 800px;
  }


  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  

.list-group-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

#toDo, #newsAPI {
  padding-left: 2em;
}

#taskList, .btn {
  text-decoration: none !important;
}



/* #taskinput .form-control{
  max-width: 10%; 
 }  */


 /* body {
  margin: 0;
  padding: 0;

}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 5%;
  left: 85%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
  margin: 0 15px;
}

ul li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

ul li a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
} */
